* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
}

.header__nav-list{
    display: flex;
    gap: 20px;
}
.header__nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav{
    padding: 25px 0;
    background: black;
}

.logo{
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}

.header__nav-link{
    font-size: 30px;
    color: white;
    font-weight: 700;
}

.header__content{
    height: 800px;
background: black;
display: flex;
justify-content: center;
align-items: center; 
}

.header__content h1{
    color: white;
    font-size: 50px;
}
.star{
    clip-path: polygon(58% 0, 88% 28%, 69% 40%, 44% 57%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    background: yellow;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.main{
    height: 100vh;
    background: purple;
}